<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indecol Data Visualization - Nested Pie</title>
    <!-- Latest compiled and minified css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/color_util.js') }}"></script>

    <link href="{{ url_for('static', filename='css/ardaweb.css') }}" rel="stylesheet">

    <style>
        .height-full {
            height: 90vh;
        }

        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

        .panel-body {
            height: 25vh;
            overflow-y: scroll;
            font-size: 10px;
        }

        #pieChart {
            height: 60vh;
        }

        .verticalLine {
            border-left: thin solid #020204;
        }

        .treeText {
            font: 5px sans-serif;
        }

    </style>
</head>

<body onload="create_plot()">

<div id="navigation">
    {% include 'components/navbar.html' %}
</div>

<div class="container-fluid height-full">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2" style="padding-top: 10px">
            <input type="file" class="filestyle" data-classButton="btn btn-primary" accept=".json"
                   data-input="false" data-classIcon="icon-plus" data-buttonText="Upload data [.json]"
                   onchange="uploadJsonConfig(this)">
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-12 -col-md-8 col-lg-8">
            <div class="row">
                <div class="col-md-10" id="pieChart"></div>
                <div class="col-md-2">
                    <select class="selectpicker btn btn-default" data-live-search="true" id="impact_categories"
                            onchange="selection_changed()">
                    </select>
                    <form class="form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" onchange="colorBasedOnName(this)"/> color by name
                            </label>
                        </div>
                    </form>
                    <a href="javascript:printPie();"><span class='glyphicon glyphicon-print'></span>Print Pie</a>
{#                    <a href="javascript:export_all();"><span class='glyphicon glyphicon-print'></span>Export All</a>#}
                </div>
            </div>
            <div class="row" id="panels">
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="level1">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" id="cat1List">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="level2">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" id="cat2List">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="level3">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" id="cat3List">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="level4">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" id="cat4List">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="hidden-sm col-md-4 col-lg-4 verticalLine">
            <div class="row">
                <button class="btn btn-default" onclick="expandAll()">Expand All</button>
                <button class="btn btn-default" onclick="collapseAll()">Collapse All</button>
                <a href="javascript:printTree();"><span class='glyphicon glyphicon-print'></span>Print Tree</a>
            </div>
            <div id="tree"></div>
        </div>
    </div>
</div>
<script>
    var json_data;

    var defaultColors = ['#2f7ed8', '#8bbc21', '#910000', '#1aadce',
        '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];
    var layersName = [];
    var impact_categories = [];

    {# this method checks if there was a data directly from server (API call) #}
    function create_plot() {
        var d =
        {{ data|tojson }}
        if (d) {
            newData(d)
        }
    }

    function newData(json, color_as_name) {
        if (typeof(color_as_name) === 'undefined') color_as_name = false;
        impact_categories = [];
        json_data = json;

        document.getElementById('impact_categories').innerHTML = "";

        layersName = json_data.configuration ? json_data.configuration.legend_titles :
            ['Layer1', 'Layer2', 'Layer3', 'Layer4'];

        var title = json_data.configuration ? json_data.configuration.title : 'Pie Chart';

        for (var ic = 0; ic < json_data.data.length; ic++) {
            var cat1 = [];
            var cat2 = [];
            var cat3 = [];
            var cat4 = [];
            var impact = json_data.data[ic];
            var flareChild1 = [];
            var flare = {'name': 'ArdaResult', children: flareChild1}

            for (var i = 0; i < impact.children.length; i++) {
                var item = impact.children[i];
                layersName.push(item.legend ? item.legend : item.name);
                var color = defaultColors[i];
                var value_i = 0;
                var flareChild2 = [];

                for (var j = 0; j < item.children.length; j++) {
                    var flareChild3 = []
                    var value_j = 0;
                    for (k = 0; k < item.children[j].children.length; k++) {
                        var flareChild4 = [];
                        var value_k = 0;
                        for (var l = 0; l < item.children[j].children[k].children.length; l++) {
                            value_k += item.children[j].children[k].children[l].value;
                            var color4 = color_as_name ?
                                textToColor(item.children[j].children[k].children[l].name)
                                : changeHue(brightness(color, (l + 1) * 20), (l + 1) * 5);
                            flareChild4.push({
                                name: item.children[j].children[k].children[l].name,
                                color: color4,
                                size: item.children[j].children[k].children[l].value
                            })
                            cat4.push({
                                name: item.children[j].children[k].children[l].name,
                                y: item.children[j].children[k].children[l].value,
                                color: color4,
                            })
                        }
                        var color3 = color_as_name ?
                            textToColor(item.children[j].children[k].name)
                            : changeHue(brightness(color, (k + 1) * 10), (k + 1) * 5)
                        flareChild3.push({
                            name: item.children[j].children[k].name,
                            color: color3,
                            children: flareChild4
                        })
                        cat3.push({
                            name: item.children[j].children[k].name,
                            y: value_k,
                            color: color3,
                        })
                        value_j += value_k;
                    }
                    var color2 = color_as_name ?
                        textToColor(item.children[j].name)
                        : changeHue(brightness(color, (j + 1) * 5), (j + 1) * 1)
                    flareChild2.push({
                        name: item.children[j].name,
                        color: color2,
                        children: flareChild3
                    })
                    cat2.push({
                        name: item.children[j].name,
                        y: value_j,
                        color: color2,
                    })
                    value_i += value_j;
                }

                flareChild1.push({name: item.name, color: color, children: flareChild2})
                cat1.push({
                    name: item.name,
                    y: value_i,
                    color: color,
                });
            }

            impact_categories.push({
                name: impact.name,
                data: [cat1, cat2, cat3, cat4],
                flare: flare
            });

            var x = document.getElementById("impact_categories");
            var option = document.createElement("option");
            option.text = impact.name;
            x.add(option);
        }


        // Create the chart
        Highcharts.chart('pieChart', {
            chart: {
                type: 'pie',
            },
            title: {
                text: title
            },
            subtitle: {
                text: $("#impact_categories option:selected").val()
            },
            yAxis: {
                title: {
                    text: 'Total percent'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                    }
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name +
                        '</b> : <b>' + this.y.toExponential(4) + '</b> : ' + parseFloat(this.percentage).toFixed(2) + '%';
                }
            },
            legend: {
                verticalAlign: 'left',
            },
            series: [{
                name: layersName[0],
                data: impact_categories[0].data[0],
                size: '40%',
                innerSize: '10%',
                dataLabels: {
                    color: '#ffffff',
                    distance: -30
                }
            }, {
                name: layersName[1],
                data: impact_categories[0].data[1],
                size: '60%',
                innerSize: '40%',
                dataLabels: {}
            },
                {
                    name: layersName[2],
                    data: impact_categories[0].data[2],
                    size: '70%',
                    innerSize: '60%',
                    dataLabels: {}
                },
                {
                    name: layersName[3],
                    data: impact_categories[0].data[3],
                    size: '100%',
                    innerSize: '70%',
                }
            ]
        });

        // create tree view
        root = impact_categories[0].flare;
        root.x0 = height / 2;
        root.y0 = 0;
        function collapse(d) {
            if (d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

        root.children.forEach(collapse);
        update(root);

        // create list of categories
        $('#level1').text(layersName[0]);
        $('#level2').text(layersName[1]);
        $('#level3').text(layersName[2]);
        $('#level4').text(layersName[3]);

        updatePanels(impact_categories[0]);
    }

    function updatePanels(source) {
        // recreate panels
        document.getElementById("cat1List").innerHTML = "";
        document.getElementById("cat2List").innerHTML = "";
        document.getElementById("cat3List").innerHTML = "";
        document.getElementById("cat4List").innerHTML = "";
        var html_str = '';
        var _cat1 = source.data[0];
        var _cat2 = source.data[1];
        var _cat3 = source.data[2];
        var _cat4 = source.data[3];
        for (var i = 0; i < _cat1.length; i++) {
            html_str += '<li class="list-group-item"><canvas id="myCanvas" width="3" height="3" style="border: 3px solid ' + _cat1[i].color + ';"></canvas>&nbsp&nbsp' + _cat1[i].name + '</li>'
        }
        $('#cat1List').append(html_str);

        html_str = '';
        for (var i = 0; i < _cat2.length; i++) {
            html_str += '<li class="list-group-item"><canvas id="myCanvas" width="3" height="3" style="border: 3px solid ' + _cat2[i].color + ';"></canvas>&nbsp&nbsp' + _cat2[i].name + '</li>'
        }
        $('#cat2List').append(html_str);

        html_str = '';
        for (var i = 0; i < _cat3.length; i++) {
            html_str += '<li class="list-group-item"><canvas id="myCanvas" width="3" height="3" style="border: 3px solid ' + _cat3[i].color + ';"></canvas>&nbsp&nbsp' + _cat3[i].name + '</li>'
        }
        $('#cat3List').append(html_str);

        html_str = '';
        for (var i = 0; i < _cat4.length; i++) {
            html_str += '<li class="list-group-item"><canvas id="myCanvas" width="3" height="3" style="border: 3px solid ' + _cat4[i].color + ';"></canvas>&nbsp&nbsp' + _cat4[i].name + '</li>'
        }
        $('#cat4List').append(html_str);
    }


    var margin = {top: 20, right: 20, bottom: 20, left: 100},
        width = $(window).width() / 3 - margin.right - margin.left,
        height = ($(window).width() / 2 - margin.top - margin.bottom) * 0.95;

    var i = 0,
        duration = 500,
        root;

    var tree = d3.layout.tree()
        .size([height, width]);

    var diagonal = d3.svg.diagonal()
        .projection(function (d) {
            return [d.y, d.x];
        });

    var svg = d3.select("#tree").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    d3.select(self.frameElement).style("height", "800px");

    function update(source) {

        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);

        // Normalize for fixed-depth.
        nodes.forEach(function (d) {
            d.y = d.depth * ($(window).width() / 20);
        });

        // Update the nodes…
        var node = svg.selectAll("g.node")
            .data(nodes, function (d) {
                return d.id || (d.id = ++i);
            });

        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                return "translate(" + source.y0 + "," + source.x0 + ")";
            })
            .on("click", click);

        nodeEnter.append("circle")
            .attr("r", 1e-6)
            .style("fill", function (d) {
                {#                return d._children ? "lightsteelblue" : "#fff";#}
                return d.color;
            });

        nodeEnter.append("text")
            .attr("x", function (d) {
                return d.children || d._children ? -10 : 10;
            })
            .attr("class", "treeText")
            .attr("dy", ".35em")
            .attr("text-anchor", function (d) {
                return d.children || d._children ? "middle" : "start";
            })
            .text(function (d) {
                return d.name;
            })
            .style('fill', function (d) {
                return d.color
            })
            .style("fill-opacity", 1e-6)
            .call(wrap, 200);

        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + d.y + "," + d.x + ")";
            });

        nodeUpdate.select("circle")
            .attr("r", 4.5)
            .style("fill", function (d) {
                {#                return d._children ? "lightsteelblue" : "#fff";#}
                return d.color;
            });


        nodeUpdate.select("text")
            .style("fill-opacity", 1);

        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        // Update the links…
        var link = svg.selectAll("path.link")
            .data(links, function (d) {
                return d.target.id;
            });

        // Enter any new links at the parent's previous position.
        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function (d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            });

        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function (d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function (d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }

    // Toggle children on click.
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d);
    }

    function expand(d) {
        var children = (d.children) ? d.children : d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if (children)
            children.forEach(expand);
    }

    function collapse(d) {
        if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
        }
    }

    function expandAll() {
        expand(root);
        update(root);
    }

    function collapseAll() {
        root.children.forEach(collapse);
        collapse(root);
        update(root);
    }

    function selection_changed() {
        var opt = $("#impact_categories option:selected").val();
        $('#pieChart').highcharts().setTitle(null, {text: opt});
        change_category(opt);
    }
    ;

    function change_category(opt) {
        var opt = $("#impact_categories option:selected").val();
        var index = 0;
        for (var i = 0; i < impact_categories.length; i++) {
            if (impact_categories[i].name === opt) {
                index = i;
                break;
            }
        }

        $('#pieChart').highcharts().series[0].setData(impact_categories[index].data[0], false, false, false);
        $('#pieChart').highcharts().series[1].setData(impact_categories[index].data[1], false, false, false);
        $('#pieChart').highcharts().series[2].setData(impact_categories[index].data[2], false, false, false);
        $('#pieChart').highcharts().series[3].setData(impact_categories[index].data[3], true, true, false);

        root = impact_categories[index].flare;
        update(root);
        collapseAll();

        updatePanels(impact_categories[index])
    }

    function uploadJsonConfig(evt) {
        var files = evt.files; // FileList object
        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    try {
                        var json = JSON.parse(e.target.result);
                        newData(json);
                    } catch (ex) {
                        alert('Error when trying to parse json = ' + ex);
                    }
                }
            })(f);
            reader.readAsText(f);
        }
    }

    function textToColor(str) {
        var hash = 0;
        for (var i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        var colour = '#';
        for (var i = 0; i < 3; i++) {
            var value = (hash >> (i * 8)) & 0xFF;
            colour += ('00' + value.toString(16)).substr(-2);
        }
        return colour;
    }

    function colorBasedOnName(arg) {
        var selected_category = $("#impact_categories option:selected").val();
        newData(json_data, arg.checked);
        $("#impact_categories").val(selected_category);
        change_category(selected_category);
    }

    function printPie() {

        var mywindow = window.open('', 'PRINT', 'height=1200,width=1200');

        mywindow.document.write('<html><head>');
        mywindow.document.write('<style>');
        mywindow.document.write('.float-left {float: left;}');
        mywindow.document.write('#myUl { -moz-column-count: 4; -webkit-column-count: 4; column-count: 4;}');
        mywindow.document.write('li { -webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;}');
        mywindow.document.write('</style>');
        mywindow.document.write('<style type="text/css" media="print"> @page { size: portrait;} </style>')
        mywindow.document.write('</head>');
        mywindow.document.write('<body>');
        mywindow.document.write('<div id="pie" align="center">');
        mywindow.document.write(document.getElementById("pieChart").innerHTML);
        mywindow.document.write('</div>');
        mywindow.document.write('<div id="legend1" style="width: 70vh">');
        mywindow.document.write('<ul id="myUl" style="list-style-type:none; text-align: left; font-size:75%;">');
        mywindow.document.write('<h4>');
        mywindow.document.write(document.getElementById("level1").innerHTML);
        mywindow.document.write('</h4>');
        mywindow.document.write(document.getElementById("cat1List").innerHTML);
        mywindow.document.write('<h4>');
        mywindow.document.write(document.getElementById("level2").innerHTML);
        mywindow.document.write('</h4>');
        mywindow.document.write(document.getElementById("cat2List").innerHTML);
        mywindow.document.write('<h4>');
        mywindow.document.write(document.getElementById("level3").innerHTML);
        mywindow.document.write('</h4>');
        mywindow.document.write(document.getElementById("cat3List").innerHTML);
        mywindow.document.write('<h4>');
        mywindow.document.write(document.getElementById("level4").innerHTML);
        mywindow.document.write('</h4>');
        mywindow.document.write(document.getElementById("cat4List").innerHTML);
        mywindow.document.write('</ul>');
        mywindow.document.write('</div>');
        mywindow.document.write('</body></html>');

        console.log(mywindow.document)

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }

    function printTree() {

        var mywindow = window.open('', 'PRINT', 'height=1200,width=1200');

        mywindow.document.write('<html><head>');
        mywindow.document.write('</head>');
        mywindow.document.write('<style>');
        mywindow.document.write('.node {cursor: pointer;}');
        mywindow.document.write(' .node circle {fill: #fff;stroke: steelblue;stroke-width: 1.5px;}');
        mywindow.document.write('.node text {font: 10px sans-serif;}');
        mywindow.document.write('.link {fill: none;stroke: #ccc;stroke-width: 1.5px;}');
        mywindow.document.write('</style>');
        mywindow.document.write('<style type="text/css" media="print"> @page { size: portrait;} </style>')
        mywindow.document.write('</head>');
        mywindow.document.write('<body>');
        mywindow.document.write('<div id="pie" align="center">');
        mywindow.document.write(document.getElementById("tree").innerHTML);
        mywindow.document.write('</div>');
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }

    function wrap(text, width) {
        text.each(function () {
            var text = d3.select(this),
                words = text.text().split(/\s+/).reverse(),
                word,
                line = [],
                lineNumber = 0,
                lineHeight = 0.5, // ems
                y = text.attr("y"),
                dy = parseFloat(text.attr("dy")),
                tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
            while (word = words.pop()) {
                line.push(word);
                tspan.text(line.join(" "));
                if (tspan.node().getComputedTextLength() > width) {
                    line.pop();
                    tspan.text(line.join(" "));
                    line = [word];
                    tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
                }
            }
        });
    }

    function export_all() {
        $.ajax({
            type: 'POST',
            url: '/exportall',
            data: JSON.stringify(json_data),
            dataType: 'json',
            timeout: 30000,
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response) {
                console.log(response)
                return response;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus === "timeout") {
                    alert("Call has timed out"); //Handle the timeout
                } else {
                    alert("Error: " + textStatus + '; ' + errorThrown); //Handle other error type
                }
            }
        });
    }

</script>
</body>
</html>