<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indecol Data Visualization - Nested Pie</title>
    <!-- Latest compiled and minified css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/colors_palette.js') }}"></script>

    <link href="{{ url_for('static', filename='css/ardaweb.css') }}" rel="stylesheet">

    {#json editor#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/json-editor.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jsoneditor.css') }}" rel="stylesheet">
    <style>
        .item {
            padding-top: 10px
        }
    </style>
</head>
<body>

<div id="navigation">
    {% include 'components/navbar.html' %}
</div>
<div class="container-fluid height-full">
    <div class="row">
        <div class="col-md-2 item">
            <input type="file" class="filestyle" data-classButton="btn btn-primary .btn-block"
                   data-buttonBefore="true"
                   accept=".json, .csv" onchange="uploadFile(this);">
        </div>
        <div class="col-md-2 item">
            <input type="button" class="btn btn-info .btn-block" onclick="json_editor()"
                   value="Edit configuration">
        </div>
        <div class="col-md-5 item"></div>
        <div class="col-md-2 item">
            <label for="categories">Category</label>
            <select class="selectpicker btn btn-default .btn-block" data-live-search="true" id="categories"
                    onchange="option_changed()">
            </select>
        </div>
        <div class="col-md-1 item pull-right">
            <a href="javascript:printGraph();"><span class='glyphicon glyphicon-print'></span>Print</a>
        </div>
    </div>
    <div class="col-md-12">
        <h4 style="text-align: center; padding-top: 20px" id="title">Title</h4>
        <h4 style="text-align: center; padding-top: 5px" id="subtitle">Subtitle</h4>
        <div class="col-md-12" id="sankey" style="width: 100vh; height: 100vh; padding-top: 60px"></div>
    </div>
</div>

<!-- Modal -->
<div id="jsoneditormodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-footer row">
                <button type="button" class="btn btn-default" onclick="configurationChanged()">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <div id="jsoneditor"></div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var input_data = {}, categories, chart, editor;
    var palette = "pastel1";
    var link_mode = "gradient";
    var chartOptions = {
        title: "My Title",
        link: "gradient",
        node: {
            label: {
                fontName: "Times New Roman",
                fontSize: 10,
                color: "#000",
                bold: false,
                italic: false
            },
            interactivity: true,
            labelPadding: 2,
            nodePadding: 2,
            width: 5,
            colors: color_palette["pastel1"]
        }
    };

    google.charts.load("current", {packages: ["sankey"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(category) {
        if (typeof(category) === 'undefined'){
            category = $("#categories option:selected").val();
        }

        var category_index = 0;
        if (category) {
            for (var i = 0; i < categories.length; i++) {
                if (categories[i].name === category) {
                    category_index = i;
                    break;
                }
            }
        }

        if (chart) {
            chart.clearChart();
        }

        chart = new google.visualization.Sankey(document.getElementById('sankey'));
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');
        if (categories) {
            data.addRows(categories[category_index].links);

            // Set chart options
            var options = {
                width: window.innerWidth * 0.95,
                height: window.innerHeight * 0.8,
                sankey: {
                    node: chartOptions.node,
                    link: {
                        colorMode: chartOptions.link
                    },
                    iterations: 256,
                }
            };
            chart.draw(data, options);

            $("#title").html(chartOptions.title);
            if (categories.length > 1) {
                $("#subtitle").html($("#categories option:selected").val());
            } else {
                $("#subtitle").html(categories[0]);
            }

        }
    }

    function uploadFile(evt) {
        var files = evt.files; // FileList object
        var f = files[0];
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                try {
                    var format = theFile.name.split('.').pop();
                    if (format === "json") {
                        var json = JSON.parse(e.target.result);
                        input_data = json;
                    } else if (format === "csv") {
                        input_data.version = 0.1;
                        input_data.configuration = {}
                        input_data.data = [];
                        var links = [];
                        var allRows = e.target.result.split(/\r?\n|\r/);
                        for (var row = 0; row < allRows.length; row++) {
                            var rowCells = allRows[row].split(',');
                            if (rowCells[0]) {
                                links.push({"from": rowCells[0], "to": rowCells[1], "value": parseFloat(rowCells[2])})
                            }
                        }
                        input_data.data.push({"name:": "", "links": links})
                    }
                    console.log
                    newData();
                } catch (ex) {
                    alert('Error when trying to parse json = ' + ex);
                }
            };
        })(f);

        reader.readAsText(f);


    }

    function newData() {
        document.getElementById('categories').innerHTML = "";
        categories = [];
        for (var i = 0; i < input_data.data.length; i++) {
            var in_links = input_data.data[i].links;
            var links = [];
            for (var j = 0; j < in_links.length; j++) {
                var link = [];
                link.push(in_links[j].from);
                link.push(in_links[j].to);
                link.push(in_links[j].value);
                links.push(link)
            }
            categories.push({name: input_data.data[i].name, links: links})

            var x = document.getElementById("categories");

            var option = document.createElement("option");
            option.text = input_data.data[i].name;
            x.add(option);
        }

        updateChartOptions();

        drawChart();
    }

    function updateChartOptions() {
        if (input_data && input_data.configuration) {
            var config = input_data.configuration;
            if (config.title) {
                chartOptions.title = config.title;
            }
            if (config.node) {
                var node = config.node;
                if ("interactivity" in node) {
                    chartOptions.node.interactivity = node.interactivity
                }
                if ("labelPadding" in node) {
                    chartOptions.node.labelPadding = node.labelPadding
                }
                if ("nodePadding" in node) {
                    chartOptions.node.nodePadding = node.nodePadding
                }
                if ("width" in node) {
                    chartOptions.node.width = node.width
                }
                if ("colors" in node) {
                    chartOptions.node.colors = node.colors;
                }
                if ("label" in node) {
                    var label = node.label;
                    if ("fontName" in label) {
                        chartOptions.node.label.fontName = label.fontName
                    }
                    if ("fontSize" in label) {
                        chartOptions.node.label.fontSize = label.fontSize
                    }
                    if ("color" in label) {
                        chartOptions.node.label.color = label.color
                    }
                    if ("bold" in label) {
                        chartOptions.node.label.bold = label.bold
                    }
                    if ("italic" in label) {
                        chartOptions.node.label.italic = label.italic
                    }
                }
            }
        }
    }

    function json_editor() {
        var container = document.getElementById("jsoneditor");
        container.innerHTML = "";

        // Set default options
        JSONEditor.defaults.options.theme = 'bootstrap3';
        JSONEditor.defaults.options.disable_properties = true;
        JSONEditor.defaults.options.disable_edit_json = true;
        JSONEditor.defaults.options.disable_collapse = true;

        var colors = "";
        for (var c = 0; c < chartOptions.node.colors.length; c++) {
            colors += chartOptions.node.colors[c]
            colors += ", "
        }

// Initialize the editor
        editor = new JSONEditor(document.getElementById("jsoneditor"), {
            schema: {
                "title": "Chart configuration editor",
                "properties": {
                    "title": {
                        "title": "Chart title",
                        "type": "string",
                        "default": chartOptions.title
                    },
                    "node": {
                        "type": "object",
                        "title": "Nodes properties",
                        "properties": {
                            "label": {
                                "type": "object",
                                'title': "Labels properties",
                                "properties": {
                                    "fontName": {
                                        "type": "string",
                                        'title': "Font name",
                                        "enum": [
                                            "Georgia", "Palatino Linotype", "Times New Roman",
                                            "Arial", "Arial Black", "Comic Sans MS",
                                            "Lucida Sans Unicode", "Tahoma", "Trebuchet MS", "Verdana",
                                            "Courier New", "Lucida Console"
                                        ],
                                        "default": chartOptions.node.label.fontName
                                    },
                                    "fontSize": {
                                        "type": "integer",
                                        "title": "Font size",
                                        "minimum": 0,
                                        "default": chartOptions.node.label.fontSize
                                    },
                                    "color": {
                                        "type": "string",
                                        "title": "Font color",
                                        "format": "color",
                                        "default": chartOptions.node.label.color
                                    },
                                    "bold": {
                                        "type": "boolean",
                                        "format": "checkbox",
                                        "default": chartOptions.node.label.bold
                                    },
                                    "italic": {
                                        "type": "boolean",
                                        "format": "checkbox",
                                        "default": chartOptions.node.label.italic
                                    }
                                }
                            },
                            "interactivity": {
                                "title": "Chart interactivity",
                                "type": "boolean",
                                "format": "checkbox",
                                "default": chartOptions.node.interactivity
                            },
                            "labelPadding": {
                                "title": "Label padding",
                                "type": "integer",
                                "minimum": 0,
                                "default": chartOptions.node.labelPadding
                            },
                            "nodePadding": {
                                "title": "Node padding",
                                "type": "integer",
                                "minimum": 0,
                                "default": chartOptions.node.nodePadding
                            },
                            "width": {
                                "title": "Node width",
                                "type": "integer",
                                "minimum": 0,
                                "default": chartOptions.node.width
                            },
                            "color": {
                                "type": "object",
                                "title": "Coloring",
                                "properties": {
                                    "palette": {
                                        "title": "Predefined palette",
                                        "type": "string",
                                        "enum": Object.keys(color_palette).sort(),
                                        "default": palette
                                    },
                                    "use_custom": {
                                        "title": "Use custom",
                                        "type": "boolean",
                                        "format": "checkbox",
                                        "default": false
                                    },
                                    "custom": {
                                        "title": "Custom colors",
                                        "type": "string",
                                        "default": "#3366cc, #ff9900, #e67300, #329262"
                                    },
                                    "link": {
                                        "type": "string",
                                        "title": "Link mode",
                                        "enum": [
                                            "gradient", "source", "target", "none"
                                        ],
                                        "default": link_mode
                                    }
                                }
                            }
                        }
                    }
                }
            }
        });

        $('#jsoneditormodal').modal('show');
    }

    function configurationChanged() {
        var editorOptions = editor.getValue();
        palette = editorOptions.node.color.palette;
        link_mode = editorOptions.node.color.link;
        chartOptions = editorOptions;
        var colors = editorOptions.node.color.use_custom ?
            editorOptions.node.color.custom.replace(/([\'\"\s])/g, '').split(',') : color_palette[palette];
        colors = colors.filter(function (entry) {
            return entry.trim() != '';
        });

        chartOptions.node.colors = colors;
        chartOptions.link = editorOptions.node.color.link;
        drawChart();
        $('#jsoneditormodal').modal('hide');
    }

    function option_changed() {
        var category = $("#categories option:selected").val();
        drawChart(category);
    }
500
    function printGraph() {
        var mywindow = window.open('', 'PRINT', 'height=800,width=600');

        mywindow.document.write('<html><head>');
        mywindow.document.write('</head>');
        mywindow.document.write('<style type="text/css" media="print"> @page { size: landscape;} </style>')
        mywindow.document.write('</head>');
        mywindow.document.write('<body>');
        mywindow.document.write('<h3 id="title" align="center">');
        mywindow.document.write(document.getElementById("title").innerHTML);
        mywindow.document.write('</h3>');
        mywindow.document.write('<h5 id="subtitle" align="center">');
        mywindow.document.write(document.getElementById("subtitle").innerHTML);
        mywindow.document.write('</h5>');
        mywindow.document.write('<div id="sankey" align="center">');
        mywindow.document.write(document.getElementById("sankey").innerHTML);
        mywindow.document.write('</div>');
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>
</body>
</html>