<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/index">
                    HOME
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse  navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/index">World map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/nestedpie">Nested Pie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/sankey">Sankey</a>
                    </li>
                    </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse  navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                                            <li>
                        <a class="page-scroll" href="https://gitlab.com/dlab-indecol/datavis/wikis/home">Documentation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.ntnu.no/ansatte/radek.lonka">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>